# LLM API
openai
# google-genai

# Config / Validation
pydantic
pydantic-settings
python-dotenv

# Data
pandas
tqdm
scikit-learn
datasets>=2.20.0

# Fine-tuning
torch
transformers==4.52.4
peft>=0.15.0
trl==0.19.1
accelerate>=0.33.0
bitsandbytes
sentencepiece
safetensors
unsloth
unsloth_zoo
scipy

huggingface_hub
wandb